<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Chat AP</title>
		<meta
			name="description"
			content="platform web chat AI yang dirancang untuk memberikan pengalaman komunikasi yang interaktif dan intuitif kepada pengguna. Dengan menggunakan teknologi kecerdasan buatan, ChatAP dapat memahami pertanyaan pengguna dan memberikan jawaban yang relevan serta solusi yang tepat. Dengan antarmuka yang ramah pengguna, ChatAP memungkinkan pengguna untuk berinteraksi dengan AI dengan mudah dan efisien. Dengan fitur-fitur canggih seperti analisis bahasa alami dan pemahaman konteks, ChatAP dapat memberikan layanan yang personal dan responsif. Dengan ChatAP, pengguna dapat dengan mudah mendapatkan informasi, bantuan, dan dukungan kapan pun dan di mana pun secara instan." />
		<meta property="og:title" content="Tanya ChatAP apa saja.." />
		<meta
			property="og:description"
			content="platform web chat AI yang dirancang untuk memberikan pengalaman komunikasi yang interaktif dan intuitif kepada pengguna. Dengan menggunakan teknologi kecerdasan buatan, ChatAP dapat memahami pertanyaan pengguna dan memberikan jawaban yang relevan serta solusi yang tepat. Dengan antarmuka yang ramah pengguna, ChatAP memungkinkan pengguna untuk berinteraksi dengan AI dengan mudah dan efisien. Dengan fitur-fitur canggih seperti analisis bahasa alami dan pemahaman konteks, ChatAP dapat memberikan layanan yang personal dan responsif. Dengan ChatAP, pengguna dapat dengan mudah mendapatkan informasi, bantuan, dan dukungan kapan pun dan di mana pun secara instan." />
		<meta
			property="og:image"
			content="https://dikaardnt.com/file/29fca788e7b48efa22ac3ac083ef42b3.jpeg" />
		<meta property="og:url" content="https://ai.apdev.my.id" />
		<meta property="og:type" content="website" />
		<link rel="icon" href="/assets/images/chatap-logo.png" type="image/x-icon" />
		<link
			rel="shortcut icon"
			href="/assets/images/chatap-logo.png"
			type="image/x-icon" />
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
			crossorigin="anonymous" />
		<link
			rel="stylesheet"
			href="/assets/css/style.css"
			type="text/css"
			media="all" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
			integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer" />
		<link rel="preconnect" href="https://fonts.gstatic.com" />
		<link
			href="https://fonts.googleapis.com/css2?family=Fira+Code&display=swap"
			rel="stylesheet" />

		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	</head>
	<body>
		<div class="container">
			<div class="maintenance">
				<div class="info">
					<h3>503</h3>
					<span></span>
					<p>WEBSITE CURRENTLY UNDER MAINTENANCE</p>
				</div>
			</div>
		</div>
	</body>
</html>
